.test {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.test-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.test p {
    position: relative;
    font-family: var(--font-cursive);
    font-weight: bolder;
    font-size: 1.75em;
    color: var(--color2);
    text-shadow: 5px 5px 10px var(--color5);
    text-align: justify;
    background-color: #62492782;
    margin: 25px;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 0 20px var(--color5);
    z-index: 1;
}
