.about {
    position: relative;
    width: 100%;
    height: 980px;
    overflow: hidden;
}

.about-bg {
    position: absolute;
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.about-img {
    border-radius: 25px;
    position: absolute;
    height: 80%;
    right: 10%;
    bottom: 10%;
    width: 30%;
    object-fit: cover;
}

.about-img img {
    border-radius: 25px;
}

.about-text {
    position: absolute;
    left: 10%;
    bottom: 10%;
    width: 40%;
    text-align: justify;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    background-color: #E0C490;
    font-family: var(--font);
    font-size: 30px;
    font-weight: 900;
    color: var(--color5);
}

.about-text span {
    font-family: var(--font-cursive);
    font-size: 48px;
}

@media screen and (max-width: 1024px) {
    .about-img {
        height: auto;
        top: 20%;
        width: 80%;
        height: 30%;
    }

    .about-text span {
        font-size: 32px;
    }

    .about-text {
        top: 60%;
        bottom: auto;
        width: 80%;
        font-size: 18px;
    }
}
